<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Text My Mom!</title>
    <meta name="description" content="A cool way to text my mom">
    <link id="favicon" rel="icon" href="favicon.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="main.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Thambi|Roboto|Homemade+Apple" rel="stylesheet">
    <script>
      window.onload = function(){
        var convo = document.getElementById('convo');
        convo.scrollTop = convo.scrollHeight;
      }
    </script>
  </head>
  <body>
    <section id="main" role="main">
      <div class="title"><h1>Text My Mom for Me</h1></div>
      <div class="blurb"><span>I'm a busy guy. Usually I
        don't have time to text my mom, so I figured I'd
        crowd-source it. Pick out some emojis that will make my
        mom forget I haven't called in a month and fire away.
        [u gotta do <a href="emojis.txt">emojis</a>, no more than 5,
        don't spam her, and it only refreshes her replies every 15 min
        so be patient]</span></div>
      <div class="convo" id="convo">
        </div>
        <% messages.forEach(function(messageObject){ %>
          <% if (messageObject.sent === true) { %>
            <div class="out">
              <span><%= messageObject.message %></span>
              <div class="label"><span>you guys</span></div>
            </div>
          <% } else { %>
            <div class="in">
              <span><%= messageObject.message %></span><br>
              <div class="label"><span>my mom</span></div>
            </div>
          <% } %>
        <% }) %>
      </div>
      <form method="POST" action="/mom/submit" autocomplete="off">
        <div class="form">
          <input class="fill-width" name="message" type="text"
            aria-labelledby="text my mom" required>
          <input type="image" value="text away" class="butt" name="submit"
          src="text.svg">
        </div>
      </form>
    </section>
  </body>
</html>
