body {
  background-color: #DCDCDD;
  background-image: url(https://shrmn.toys/links:images/dove.gif);
  background-repeat: repeat;
  margin: 0px;
}
#main {
  padding: 10px;
  margin: auto;
}
.form {
  position: absolute;
  bottom: 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 95%;
}
.fill-width {
  text-align: center;
  margin: auto;
  width: 90%;
  font-size: 30px;
  margin-bottom: 8px;
}
.butt {
  margin: auto;
  width: 30%;
}
.title {
  font-family: 'Baloo Thambi', cursive;
  font-size: 60px;
  margin: auto;
  text-align: center;
  color: #FF312E;
}
.blurb {
  width: 60%;
  margin: auto;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #333138;
}
span {background-color: #ffff00;}
h1 {margin: 0px;}
a:visited {color: #FF312E}
a {color: #FF312E}
.convo {
  margin: auto;
  overflow: scroll;
  width: 60%;
  height: 400px;
}
.out{
  margin: 30px;
  font-size: 30px;
  text-align: right;
}
.in{
  margin: 30px;
  font-size: 30px;
  text-align: left;
}